<a href="https://colab.research.google.com/github/samiBorg/ML-Projects/blob/main/Covid_19(confirmed_cases)_MLproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Set style & figures inline
sns.set()
%matplotlib inline

In [ ]:
conf=pd.read_csv(r'/content/drive/MyDrive/Project_data/time_series_covid19_confirmed_global.csv')

In [ ]:
conf.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [ ]:
conf.drop('Province/State',axis=1)

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [ ]:
confirmed= conf.groupby(['Country/Region']).sum().drop(['Lat', 'Long'], axis=1)

<ipython-input-164-7f267aac26e0>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [ ]:
confirmed=confirmed.transpose()

In [ ]:
confirmed.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
1/22/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/24/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/25/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
1/26/20,0,0,0,0,0,0,0,0,0,4,...,0,0,0,0,2,0,0,0,0,0

In [ ]:
confirmed.shape

(1143, 201)

In [ ]:
days=[]
for i in range(1,1144):
  days.append(i)

In [ ]:
index=[]
for i in range(0,1143):
  index.append(i)

In [ ]:
Days=np.array(days)
Index=np.array(index)

In [ ]:
confirmed['Days']=Days
confirmed['Index']=index

In [ ]:
confirmed.set_index('Index',inplace=True)

In [ ]:
confirmed.head()

Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe,Days
Index,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,4
4,0,0,0,0,0,0,0,0,0,4,...,0,0,0,2,0,0,0,0,0,5

**CHINA**

In [ ]:
C=confirmed[['China','Days']]

In [ ]:
C.head()

Country/Region  China  Days
Index
0                 548     1
1                 643     2
2                 920     3
3                1406     4
4                2075     5

In [ ]:
C.shape

(1143, 2)

In [ ]:
C['China'].describe()

count    1.143000e+03
mean     1.015579e+06
std      1.476519e+06
min      5.480000e+02
25%      9.737200e+04
50%      1.171600e+05
75%      2.094977e+06
max      4.903524e+06
Name: China, dtype: float64

In [ ]:
len(C.index)

1143

In [ ]:
k=C['China']<80000
len(k)

1143

In [ ]:
k

Index
0        True
1        True
2        True
3        True
4        True
        ...
1138    False
1139    False
1140    False
1141    False
1142    False
Name: China, Length: 1143, dtype: bool

In [ ]:
l=[]
for i in range (0,1143):
  if (k[i]==True):
   l.append(i)
print(l)
len(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

40

In [ ]:
C['China'].head()

Index
0     548
1     643
2     920
3    1406
4    2075
Name: China, dtype: int64

In [ ]:
import plotly.express as px
fig = px.scatter(x=C.index,y=C['China'])
fig.show()

In [ ]:
C.drop(index[0:40],axis=0,inplace=True)

<ipython-input-184-c0b98dfea6f8>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:

X_china=C[['Days']]
y_china=C['China']

In [ ]:
C['China'].head()

Index
40    80136
41    80261
42    80386
43    80537
44    80690
Name: China, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train_china, X_test_china, y_train_china, y_test_china= train_test_split(X_china, y_china, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
china=LinearRegression()

In [ ]:
china.fit(X_train_china,y_train_china)

LinearRegression()

In [ ]:
china.score(X_test_china,y_test_china)

0.6622398647169532

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
y_pred_china = china.predict(X_test_china)

In [ ]:
mse_china=mean_squared_error(y_test_china,y_pred_china)

In [ ]:
rmse_china = np.sqrt(mse_china)

In [ ]:
print("Root-mean-squared-error is:",rmse_china)

Root-mean-squared-error is: 863989.9732525025

In [ ]:
X_test_china['china_pred']=y_pred_china
X_test_china

Country/Region  Days    china_pred
Index
349              350  1.177249e+05
1081            1082  2.930814e+06
421              422  3.944222e+05
537              538  8.402124e+05
591              592  1.047735e+06
...              ...           ...
1097            1098  2.992303e+06
361              362  1.638411e+05
1022            1023  2.704076e+06
964              965  2.481181e+06
811              812  1.893199e+06

[221 rows x 2 columns]

In [ ]:
X_test_china['china_actual']=y_test_china

In [ ]:
X_test_china

Country/Region  Days    china_pred  china_actual
Index
349              350  1.177249e+05        103026
1081            1082  2.930814e+06       4768765
421              422  3.944222e+05        109713
537              538  8.402124e+05        114112
591              592  1.047735e+06        118126
...              ...           ...           ...
1097            1098  2.992303e+06       4887702
361              362  1.638411e+05        105246
1022            1023  2.704076e+06       3046538
964              965  2.481181e+06       2635990
811              812  1.893199e+06       1652078

[221 rows x 3 columns]

**INDIA**

In [ ]:
I=confirmed[['India','Days']]

In [ ]:
I.head()

Country/Region  India  Days
Index
0                   0     1
1                   0     2
2                   0     3
3                   0     4
4                   0     5

In [ ]:
I.shape

(1143, 2)

In [ ]:
I['India'].describe()

count    1.143000e+03
mean     2.548654e+07
std      1.759640e+07
min      0.000000e+00
25%      8.290750e+06
50%      3.222551e+07
75%      4.315163e+07
max      4.469074e+07
Name: India, dtype: float64

In [ ]:
import plotly.express as px
fig = px.scatter(x=I.index,y=I['India'])
fig.show()

In [ ]:
len(I.index)

1143

In [ ]:
n=I['India']<50000
len(n)

1143

In [ ]:
n

Index
0        True
1        True
2        True
3        True
4        True
        ...
1138    False
1139    False
1140    False
1141    False
1142    False
Name: India, Length: 1143, dtype: bool

In [ ]:

N=[]
for i in range (0,189):
  if (n[i]==True):
   N.append(i)
print(N)
len(N)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104]

105

In [ ]:
I.drop(index[0:106],axis=0,inplace=True)

<ipython-input-210-d07b4cd45e91>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
I['India'].head(40)

Index
106     56351
107     59695
108     62808
109     67161
110     70768
111     74292
112     78055
113     81997
114     85784
115     90648
116     95698
117    100328
118    106475
119    112028
120    118226
121    124794
122    131423
123    138536
124    144950
125    150793
126    158086
127    165386
128    173491
129    181827
130    190609
131    198370
132    207191
133    216824
134    226713
135    236184
136    246622
137    257486
138    265928
139    276146
140    286605
141    297535
142    308993
143    320922
144    332424
145    343091
Name: India, dtype: int64

In [ ]:

X_india=I[['Days']]
y_india=I['India']

In [ ]:
I['India'].head()

Index
106    56351
107    59695
108    62808
109    67161
110    70768
Name: India, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train_india, X_test_india, y_train_india, y_test_india= train_test_split(X_india, y_india, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
india=LinearRegression()

In [ ]:
india.fit(X_train_india,y_train_india)

LinearRegression()

In [ ]:
india.score(X_test_india,y_test_india)

0.9125787174680623

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
y_pred_india= china.predict(X_test_india)

In [ ]:
mse_india=mean_squared_error(y_test_india,y_pred_india)

In [ ]:
rmse_india = np.sqrt(mse_india)

In [ ]:
print("Root-mean-squared-error is:",rmse_india)

Root-mean-squared-error is: 30548253.346147306

In [ ]:
X_test_india['india_pred']=y_pred_india
X_test_india

Country/Region  Days    india_pred
Index
728              729  1.574229e+06
215              216 -3.972395e+05
755              756  1.677990e+06
564              565  9.439739e+05
647              648  1.262944e+06
...              ...           ...
448              449  4.981837e+05
405              406  3.329340e+05
925              926  2.331303e+06
774              775  1.751008e+06
465              466  5.635151e+05

[208 rows x 2 columns]

In [ ]:
X_test_india['india_actual']=y_test_india

In [ ]:
X_test_india

Country/Region  Days    india_pred  india_actual
Index
728              729  1.574229e+06      38218773
215              216 -3.972395e+05       3167323
755              756  1.677990e+06      42723558
564              565  9.439739e+05      31969954
647              648  1.262944e+06      34273300
...              ...           ...           ...
448              449  4.981837e+05      14074564
405              406  3.329340e+05      11139516
925              926  2.331303e+06      44107588
774              775  1.751008e+06      42967315
465              466  5.635151e+05      19557457

[208 rows x 3 columns]